/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-light-gray: #eeeeee;

  --color-default-cell: var(--color-light-gray);
  --color-alkali-metal: #d2daff;
  --color-alkaline-earth-metal: #ffd0d0;
  --color-transition-metal: #ffff66;
  --color-lanthanide: #ff7c43;
  --color-actinide: #ffa600;
  --color-post-transition-metal: #fa9b9b;
  --color-metalloid: #bbded6;
  --color-diatomic-nonmetal: #b1b2ff;
  --color-polyatomic-nonmetal: #aac4ff;
  --color-noble-gas: #999999;

  --color-solid: #3166f8;
  --color-liquid: #9d22da;
  --color-gas: #fb5b5b;
  --color-unknown: #050a13;

  /* Scroll */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* Header */
.header {
  display: flex;
}

.header__title {
  margin: 0.5rem 2rem;
}

/* Main */
.main {
  display: flex;
}

/* Periodic Table */
.container__periodic-table {
  position: relative;
}

.periodic-table {
  border: hidden;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  margin: auto;
  padding: 0;
}

tr {
  display: flex;
}

th,
td {
  margin: 0.1rem;
  border-radius: 4px;
  display: block;
  width: 3.5rem;
  height: 4rem;
  padding: 0;
}

th {
  line-height: 4rem;
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3) {
  margin-right: 2rem;
}

.cell--none {
  display: none;
}
.cell--hidden {
  visibility: hidden;
}

.container__fblock {
  position: absolute;
  transform: translate(13rem, 2rem);
}

.container__lanthanide,
.container__actinide {
  display: flex;
}

.cell__info {
  position: relative;
  background-color: var(--color-default-cell);
  transition: all 100ms ease;
}

.cell__info--active {
  scale: 1.2;
  z-index: 1;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 10px 0px;
}

.cell__info__atom-num {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  font-size: 0.8rem;
  pointer-events: none;
}

.cell__info__symbol {
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  pointer-events: none;
}

/* Display */
.container__display {
  position: absolute;
  transform: translate(12.9rem, 4rem);
  width: 36.8rem;
  height: 12.5rem;
  margin: 0.2rem;
  z-index: 1;
  transition: all 300ms ease;
}

.display__item {
  white-space: pre;
  margin: 0.5rem;
}

/* Aside */
.container__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  min-width: 14rem;
}

.button__filter {
  border-radius: 2px;
  padding: 0.2rem;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.button__filter--active {
  scale: 1.05;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 10px 0px;
}

/* Category Filter */
.container__filter__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 12rem;
}

.category--alkali-metal {
  background-color: var(--color-alkali-metal);
}

.category--alkaline-earth-metal {
  background-color: var(--color-alkaline-earth-metal);
}

.category--transition-metal {
  background-color: var(--color-transition-metal);
}

.category--post-transition-metal {
  background-color: var(--color-post-transition-metal);
}

.category--lanthanide {
  background-color: var(--color-lanthanide);
}

.category--actinide {
  background-color: var(--color-actinide);
}

.category--metalloid {
  background-color: var(--color-metalloid);
}

.category--diatomic-nonmetal {
  background-color: var(--color-diatomic-nonmetal);
}

.category--polyatomic-nonmetal {
  background-color: var(--color-polyatomic-nonmetal);
}

.category--noble-gas {
  background-color: var(--color-noble-gas);
}

/* Phase Filter */
.container__filter__phase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 12rem;
}

.phase__temp {
  display: inline-block;
}

.phase__temp__input {
  width: 4.5rem;
}

.phase--solid {
  box-shadow: inset 0px 0px 3px 3px var(--color-solid);
}

.phase--liquid {
  box-shadow: inset 0px 0px 3px 3px var(--color-liquid);
}

.phase--gas {
  box-shadow: inset 0px 0px 3px 3px var(--color-gas);
}

.phase--solid-liquid {
  box-shadow: inset 2px 2px 3px 2px var(--color-solid),
    inset -2px -2px 3px 2px var(--color-liquid);
}

.phase--solid-gas {
  box-shadow: inset 2px 2px 3px 2px var(--color-solid),
    inset -2px -2px 3px 2px var(--color-gas);
}

.phase--liquid-gas {
  box-shadow: inset 2px 2px 3px 2px var(--color-liquid),
    inset -2px -2px 3px 2px var(--color-gas);
}

.phase--unknown {
  box-shadow: inset 0px 0px 3px 3px var(--color-unknown);
}
