/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Scroll */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Periodic Table */
.container__periodic-table {
  position: relative;
}

#periodic-table {
  border: hidden;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  margin: auto;
  padding: 0;
}

tr {
  display: flex;
}

th,
td {
  margin: 0.1rem;
  border-radius: 4px;
  display: block;
  width: 3.5rem;
  height: 4rem;
  padding: 0;
}

th {
  line-height: 4rem;
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3) {
  margin-right: 2rem;
}

.cell--none {
  display: none;
}
.cell--hidden {
  visibility: hidden;
}

.container__fblock {
  position: absolute;
  transform: translate(13rem, 2rem);
}

.container__lanthanide,
.container__actinide {
  display: flex;
}

.cell__info {
  position: relative;
}

.cell__info--active {
  scale: 1.2;
  z-index: 1;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 5px 30px 0px;
}

.cell__info__atom-num {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  font-size: 0.8rem;
  pointer-events: none;
}

.cell__info__symbol {
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  pointer-events: none;
}

/* Display */
.container__display-info {
  position: absolute;
  transform: translate(16rem, 4rem);
  width: 30rem;
  margin: 0.2rem;
  z-index: 1;
}

.item__display-info {
  white-space: pre;
  margin: 0.5rem;
}
