/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-light-gray: #eeeeee;

  --color-default-cell: var(--color-light-gray);
  --color-diatomic-nonmetal: #b1b2ff;
  --color-noble-gas: #999999;
  --color-alkali-metal: #d2daff;
  --color-alkaline-earth-metal: #ffc7c7;
  --color-metalloid: #bbded6;
  --color-polyatomic-nonmetal: #aac4ff;
  --color-post-transition-metal: #ffb6b9;
  --color-transition-metal: #ffff66;
  --color-lanthanide: #ff7c43;
  --color-actinide: #ffa600;

  /* Scroll */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* Periodic Table */
.container__periodic-table {
  position: relative;
}

#periodic-table {
  border: hidden;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  margin: auto;
  padding: 0;
}

tr {
  display: flex;
}

th,
td {
  margin: 0.1rem;
  border-radius: 4px;
  display: block;
  width: 3.5rem;
  height: 4rem;
  padding: 0;
}

th {
  line-height: 4rem;
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3) {
  margin-right: 2rem;
}

.cell--none {
  display: none;
}
.cell--hidden {
  visibility: hidden;
}

.container__fblock {
  position: absolute;
  transform: translate(13rem, 2rem);
}

.container__lanthanide,
.container__actinide {
  display: flex;
}

.cell__info {
  position: relative;
  border: 3px solid transparent;
  background-color: var(--color-light-gray);
  transition: all 100ms ease;
}

.cell__info--active {
  scale: 1.2;
  z-index: 1;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 5px 30px 0px;
}

.cell__info__atom-num {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  font-size: 0.8rem;
  pointer-events: none;
}

.cell__info__symbol {
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  pointer-events: none;
}

/* Display */
.container__display-info {
  position: absolute;
  transform: translate(16rem, 4rem);
  width: 30rem;
  margin: 0.2rem;
  z-index: 1;
}

.item__display-info {
  white-space: pre;
  margin: 0.5rem;
}

/* Aside */
.container__filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.button__filter {
  font-size: 1.1rem;
}

.button__filter--active {
  outline: 3px solid var(--color-accent);
}

.cell--inactive {
  opacity: 0.3;
  color: var(--color-white);
  pointer-events: none;
}

/* Category Filter */
.container__filter__category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}

.button__filter__category {
  border-radius: 2px;
  padding: 0.2rem;
}

/* Phase Filter */
.container__filter__phase {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}

.button__phase {
  border-radius: 2px;
  padding: 0.2rem;
}

.phase--solid {
  border: 3px solid var(--color-black);
}

.phase--liquid {
  border: 3px solid var(--color-blue);
}

.phase--gas {
  border: 3px solid var(--color-orange);
}

.phase--unknown {
  border: 3px dotted var(--color-gray);
}
